body {
  margin: 0;
  overflow: hidden;
  background: -webkit-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -moz-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -ms-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -o-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: radial-gradient(
    farthest-corner circle at left bottom,
    #e1fd3e,
    #174709
  );
}

.message {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gift-message {
  font-size: 60px;
}

.hidden-message {
  position: fixed;
  left: 10px;
  top: 10px;
  color: red;
  font-size: 5px;
}

a {
  text-decoration: none;
}
