@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap");
body {
  font-family: "Cormorant Infant";
  margin: 0;
  overflow: hidden;
  background: -webkit-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -moz-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -ms-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: -o-radial-gradient(
    left bottom,
    circle farthest-corner,
    #e1fd3e,
    #174709
  );
  background: radial-gradient(
    farthest-corner circle at left bottom,
    #e1fd3e,
    #174709
  );
}

.message {
  background-color: lightgreen;
  padding: 32px;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.75);
}

.gift-message {
  font-size: 80px;
  font-weight: bold;
  color: lightblue;
}

.gift-message-text {
  font-size: 20px;
}

.gift-message a {
  color: orange;
  transition: 0.3s;
}

.gift-message a:hover {
  color: royalblue;
}

.hidden-message {
  position: fixed;
  left: 10px;
  top: 10px;
  color: red;
  font-size: 5px;
}

a {
  text-decoration: none;
}
